/.vs
/.idea
/build
/out
/app/android/.gradle
/app/android/.idea
/app/android/build
/app/android/local.properties
/app/android/app/build
/app/android/app/.cxx
/app/android/app/src/main/assets
/app/android/app/release
/admenri
ruby_wasm
__pycache__
.DS_Store
